{% extends 'tiendalibre/base.html' %}
{% block title %}Inicio | Tienda Libre{% endblock %}
{% block content %}

  <div class="page-wrapper">
  <div class="hero">
    <h1>Bienvenido a Tienda Libre</h1>
    <p>Esta es la página principal de la app. Explora productos, conoce más sobre el desarrollador y vuelve siempre que quieras.</p>
    <div class="nav-links">
    <a href="{% url 'tiendalibre:home' %}">Inicio</a>
    <a href="{% url 'tiendalibre:acerca_de_mi' %}">Acerca de mí</a>
    <a href="/admin/">Admin</a>
    </div>
  </div>

{% endblock %}